{
    "teamspeak": {
        "host": "",
        "username": "",
        "password": ""
    },

    "db": {
        "host": "",
        "username": "",
        "password": "",
        "database": ""
    }
}