{
    "teamspeak": {
        "host": "",
        "username": "",
        "password": "",
        "sid": 1
    },

    "db": {
        "host": "",
        "username": "",
        "password": "",
        "database": ""
    },

    "slack": {
        "hook": ""
    }
}